/* navbar.css */
html {
    scroll-behavior: smooth;  /* Dodaja gladek pomik pri uporabi povezav */
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: "Kanit", sans-serif;
      font-weight: 400;
      font-style: normal;
      background-color: #f9f9f9;
  }

/* Osnovni stili za navigacijo */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #f9f9f9;
    z-index: 1000; /* Zagotovi, da je navigacija nad drugimi vsebinami */
    display: flex; /* Naredi navigacijo fleksibilno */
    justify-content: space-between; /* Prostor med levimi in desnimi elementi */
    align-items: center; /* Sredi elementi navpično */
    padding: 0 10%; /* Horizontalno obrezovanje */
    box-sizing: border-box; /* Vključi obrezovanje v skupno širino elementa */
    height: 80px; /* Nastavi višino */
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Ozadje se spremeni ob scrollanju */
.scrolled {
    background-color: rgba(249, 249, 249, 0.95); /* Belo ozadje pri scrollanju */
}

.scrolled a {
    color: green;
}

.white{
    color: white !important;
}

.green a {
    color: green;
}

.black a {
    color: black;
}

.black a:hover {
    color: #555;
}

.black .dropdown-content a {
    color: black;
}

/* Osnovni stili za seznam v navigaciji */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav .left-items,
nav .right-items {
    display: flex;
}

nav li {
    margin: 0;
    padding: 0;
    position: relative; /* Postavi dropdown v sorazmerju z njegovim staršem */
}

nav li img {
    height: 48px;
    padding: 2px 20px;
    transition: opacity 0.3s ease;
}

nav a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #f9f9f9;
}

nav a:hover {
    color: green;
}

/* Stili za dropdown meni */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Postavi ga prav pod starša li */
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content a {
    color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content #logout {
    color: red;
}

/* Stili za mobilni meni */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mobilni meni */
#mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    padding: 20px;
    z-index: 1001;
    overflow-y: auto;
}

/* Prikaz mobilnega menija */
#mobileMenu.show {
    display: block;
}

#mobileMenu .close-btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: green;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

#mobileMenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#mobileMenu li {
    margin: 20px;
    padding: 0;
    list-style-type: none;
}

#mobileMenu a {
    color: green;
    text-decoration: none;
}

#mobileMenu a:hover {
    background-color: #ddd;
}

/* Mobilni dropdown meni */
#mobileMenu .dropdown-content {
    position: static;
}

#mobileMenu .dropdown-content {
    display: none;
    position: static;
    background-color: white;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

#mobileMenu .dropdown-content a {
    padding: 0px 10px;
}

#mobileMenu .dropdown a:hover {
    background-color: #ddd;
}

#mobileMenu .dropdown.open .dropdown-content {
    display: block;
}

/* Logo and NextGen Name on the right side of mobile menu */
.mobile-logo-container {
    display: none; /* Hidden by default on larger screens */
    flex-direction: row;
    align-items: center;
}

.mobile-logo {
    width: auto;
    height: 36px;
}

.mobile-name {
    font-size: 1.4em;
    color: white;
    margin-left: 20px;
    font-weight: 600;
}

/* Prilagajanje za manjše zaslone */
@media (max-width: 768px) {
    /* Show mobile logo and name */
    .mobile-logo-container {
        display: flex;
    }

    /* Hide default logo and name on left side */
    nav .left-items {
        display: none !important;
    }

    /* Show menu toggle button on mobile */
    .menu-toggle {
        display: block;
    }

    /* Hide navigation links on mobile */
    nav ul {
        display: none !important;
    }

    .scrolled {
        display: none;
    }
}